
/* FORM */

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* GROUP */

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #334155;
}

/* INPUT */

.form-group input {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #dbe3ef;
    font-size: 14px;
    background: #fff;
}

.form-group input:focus {
    outline: none;
    border-color: #0d6efd;
}

/* DISABLED */

.form-group input:disabled {
    background: #f1f5fb;
    cursor: not-allowed;
}

/* ACTION */

.form-actions {
    margin-top: 10px;
}

.btn-safe {
    background-color: #00bd2f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-safe:hover {
    background-color: #367847;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #810511;
}

button:disabled {
    background-color: #cbd5e1;
    cursor: not-allowed;
}

.btn-warning {
    background-color: #ffc107;
    color: #212529;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-warning:hover {
    background-color: #a37d0a;
}

/* RESPONSIVE */

@media (max-width: 768px) {

    .form-group input {
        width: 100%;
    }

    .form-actions .btn {
        width: 100%;
    }
}